footer.footer
  .footer-col.copyright
    .footer__copyright &Ecy;&tcy;&ocy;&tcy; &scy;&acy;&jcy;&tcy; &yacy; &scy;&dcy;&iecy;&lcy;&acy; &scy; &lcy;&yucy;&bcy;&ocy;&vcy;&softcy;&yucy;
    .footer__copyright.footer__copyright_opacity.footer__copyright_name &copy; &Icy;&rcy;&icy;&ncy;&acy; &Kcy;&ocy;&vcy;&acy;&lcy;&softcy;&chcy;&ucy;&kcy;
    .footer__copyright.footer__copyright_opacity &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&ocy; &scy; &lcy;&yucy;&bcy;&ocy;&vcy;&softcy;&yucy; 
  // .footer-group
  nav.footer-col.footer-nav
    ul.footer-menu
      li.footer-menu__item
        a.footer-menu__link(href='works.html') &Mcy;&ocy;&icy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
      li.footer-menu__item
        a.footer-menu__link(href='about.html') &Ocy;&bcy;&ocy; &mcy;&ncy;&iecy;
      li.footer-menu__item
        a.footer-menu__link(href='blog.html') &Bcy;&lcy;&ocy;&gcy;
      li.footer-menu__item
        a.footer-menu__link(href='index.html') &Acy;&vcy;&tcy;&ocy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
    ul.socials.socials_footer
      li.socials__item
        a.socials__link(href='https://vk.com/id157217945' target='_blank') &Vcy;&kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&iecy;
        svg.icon.icon-vk
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#vk')
      li.socials__item
        a.socials__link(href='https://github.com/IrochkaKo' target='_blank') Github
        svg.icon.icon-github
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#github')
      li.socials__item
        a.socials__link(href='https://www.linkedin.com/in/irene-kovalchuk-b7523017a/' target='_blank') LinkedIn
        svg.icon.icon-in
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#in')
  .footer-col.footer-contacts
    ul.footer-contacts-list
      li.footer-contacts__item
        a.footer-contacts__link(href='skype:irochka_belochka?call') irochka_belochka
      li.footer-contacts__item
        a.footer-contacts__link(href='mailto:lady.covalchuk2014@yandex.ru') irochkakovalchuk74@gmail.com
      li.footer-contacts__item
        a.footer-contacts__link(href='tel:+380935730719') +380 (93) 573 07 19
      li.footer-contacts__item
        a.footer-contacts__link(href='about.html#map-box') &gcy;. &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;, &Ucy;&kcy;&rcy;&acy;&icy;&ncy;&acy;
